/* Estrutura padrão do site */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font: "Lucida Grande", "Lucida Sans Unicode", Arial, Sans-serif;
    color: white;
}

p, h2 {
    font-family: "Handlee", "Handlee regular", Arial, Helvetica, sans-serif;
    font-size: 18px;
}

h3 {
    font-family: "Satisfy", "Satisfy regular", Arial, Helvetica, sans-serif;
}

.satisfy-regular {
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
}

.handlee-regular {
    font-family: "Handlee", cursive;
    font-weight: 400;
    font-style: normal;
}

#container {
    width: 100%;
    margin: 0 auto;
    background-color: #0B9A9C;
}

a:link,
a:active,
a:visited {
    color: #0B9A9C;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
}

/* Estilos para logo e menu */
#logo h1 {
    float: left;
    margin-left: 40px;
    margin-right: 120px;
}

#logo a {
    width: 150px;
    height: 80px;
    display: block;
    text-indent: -9999px;
    text-decoration: none;
    background: url(../img/logo2.png) no-repeat center center;
    background-size: contain;
}

#logo a:hover {
    transform: scale(1.1);
}

header {
    background-color: #FFDF00;
    color: #0B9A9C;
    overflow: hidden;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    float: left;
    margin: 35 10px;
    /* Espaçamento entre os itens do menu */
}

nav ul li a {
    display: block;
    padding: 45px 78px;
    /* Ajuste o padding para um visual mais confortável */
    font-size: 30px;
    /* Tamanho da fonte para telas maiores */
    text-decoration: none;
    font-family: "Satisfy", "Satisfy regular", Arial, Helvetica, sans-serif;
    color: #0B9A9C;
}

/* Principal */
section {
    background-color: #0B9A9C;
    border-top: 10px solid #ECA634;
    border-bottom: 10px solid #ECA634;
    overflow: hidden;
    padding: 20px 50px;
}

section h2 {
    font-size: 35px;
    color: #FFDF00;
    text-align: center;
}

#conteudo {
    border-top: 5px solid #8a0b8a;
    border-bottom: 5px solid #8a0b8a;
}

#inicio {
    margin: 40px 110px 40px 80px;
    border-radius: 80px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: justify;
    border: 5px solid #ECA634;
}

#img_inicio {
    float: right;
    margin-top: -400px;
    margin-right: -570px;
}

#img_inicio a {
    width: 500px;
    height: 380px;
    text-indent: -9999px;
    text-decoration: none;
    display: block;
    background: url(../img/pets.webp) no-repeat center center;
    background-size: contain;
    border-radius: 200px;
}

/* Pets para adoção */
.pets titulo {
    text-align: center;
}

#pets {
    margin: 40px 120px 40px 80px;
    border-radius: 80px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: justify;
    border: 5px solid #ECA634;
}

.descricao {
    border-radius: 80px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: justify;
    padding: 60px 600px 60px 50px;
}

#pet1 {
    float: right;
    margin-top: -220px;
    margin-right: -550px;
}

#pet1 a {
    width: 400px;
    height: 350px;
    text-indent: -9999px;
    text-decoration: none;
    display: block;
    background: url(../img/pet1.webp) no-repeat center center;
    background-size: contain;
    border-radius: 200px;
}

#pet2 {
    float: right;
    margin-top: -245px;
    margin-right: -550px;
}

#pet2 a {
    width: 400px;
    height: 350px;
    text-indent: -9999px;
    text-decoration: none;
    display: block;
    background: url(../img/pet2.jpg) no-repeat center center;
    background-size: contain;
    border-radius: 200px;
}

#pet3 {
    float: right;
    margin-top: -350px;
    margin-right: -545px;
}

#pet3 a {
    width: 400px;
    height: 350px;
    text-indent: -9999px;
    text-decoration: none;
    display: block;
    background: url(../img/pet3.webp) no-repeat center center;
    background-size: contain;
    border-radius: 200px;
}

#pets h3 {
    color:#ECA634
}

/* Seção sobre */
#sobre {
    margin: 40px 110px 40px 80px;
    border-radius: 80px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: justify;
    border: 5px solid #ECA634;
}

.titulo {
    text-align: center;
    color: rgb(244, 218, 91);
    font-size: 25px;
}

.subtitulo {
    color: rgb(244, 218, 91);
}

/* Seção Contato */
#contato {
    margin: 40px 120px 40px 80px;
    border-radius: 80px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: justify;
    border: 5px solid #ECA634;
}

form {
    text-align: center;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

form div {
    margin-bottom: 20px;
    text-align: left;
    display: block;
    width: 60%;
}

form div {
    margin-bottom: 20px;
    text-align: left;
    display: inline-block;
    width: 60%;
}

form label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

input.campo,
textarea.campo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-color: #fff;
    border: none;
    font-size: 0.8em;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
}

input.campo {
    height: 40px;
}

textarea.campo {
    height: 80px;
}

.button {
    margin: 10px;
    text-align: center;
}

button {
    height: 30px;
    width: 100px;
    border: none;
    font-size: 0.8em;
    border-radius: 10px;
    background-color: #312589;
    color: #ffffff;
}

#mensagem-sucesso {
    text-align: center;
    color: #FFDF00;
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    display: none;
    width: 100%;
}

/* Rodapé */
#rodape {
    padding: 20px 0;
    background-color: #FFDF00;
    text-align: center;
}

footer>p a {
    padding: 2px 50px;
    font-size: 20px;
}

.rodapeColor {
    color: brown;
}

/* Media queries para ajustar o layout em telas menores */
@media (max-width: 1024px) {
    #inicio, #pets, #sobre, #contato {
        margin: 20px 50px;
        padding: 20px;
    }

    .descricao {
        padding: 30px;
    }

    #img_inicio {
        margin-top: -200px;
        margin-right: -300px;
    }

    #pet1, #pet2, #pet3 {
        margin-top: -150px;
        margin-right: -300px;
    }
}

@media (max-width: 768px) {
    nav ul {
        text-align: center;
    }

    nav ul li {
        float: none;
        display: inline-block;
    }

    nav ul li a {
        padding: 20px;
        font-size: 18px;
    }

    #logo h1 {
        float: none;
        text-align: center;
        margin: 0;
    }

    #logo a {
        display: inline-block;
        margin: 0 auto;
    }

    section {
        padding: 10px;
    }

    #img_inicio, #pet1, #pet2, #pet3 {
        float: none;
        margin: 20px auto;
        display: block;
    }

    #img_inicio a, #pet1 a, #pet2 a, #pet3 a {
        width: 100%;
        height: auto;
    }

    .descricao {
        padding: 20px;
    }
}

@media (max-width: 480px) {
    nav ul li a {
        padding: 10px;
        font-size: 16px;
    }

    section h2 {
        font-size: 24px;
    }

    p, h2, h3 {
        font-size: 14px;
    }
}
