@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

/* Configurações globais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: Helvetica, sans-serif;
}

main {
  background-color: #0B9A9C;
}

/* .border-custom {
  border-radius: 80px;
  border: 5px solid #ECA634;
} */

/* Configurações de fontes*/
.satisfy-regular {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
}

.handlee-regular {
  font-family: "Handlee", cursive;
  font-weight: 400;
  font-style: normal;
}

/* Configurações da Navbar*/
.navbar-custom {
  background-color: #FFDF00;
}

.navbar-brand img {
  height: auto;
  width: 7rem;
}


.custom-nav .nav-item {
  margin-right: 7em;
}

.custom-nav .nav-item:last-child {
  margin-right: 50px;
  /* remove a margem direita do último item */
}

.nav-item a {
  font-family: "Satisfy", "Satisfy regular", Arial, Helvetica, sans-serif;
  color: #0B9A9C;
  font-size: 23px;
}

/* Secção welcome */
.welcome {
  height: 140vh;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: #0B9A9C;
}

.welcome h1 {
  text-align: center;
  color: #FFDF00;
  font-family: 'Archivo Black', sans-serif;
}

.welcome p {
  text-align: justify;
  font-family: "Handlee", "Handlee regular", Arial, Helvetica, sans-serif;
  font-size: 18px;
}

#welcome-img {
  width: 500px;
  height: 455px;
  ;
}


/* Secção pets */
.pets {
  height: 100vh;
  background-color: #0B9A9C;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  perspective: 1000px;
  background-attachment: fixed;
}

.pets-title {
  text-align: center;
}

.pets h2 {
  text-align: center;
  color: #FFDF00;
  font-family: 'Archivo Black', sans-serif;
}

.pets h3 {
  color: #ECA634;
  font-family: "Satisfy", "Satisfy regular", Arial, Helvetica, sans-serif;
}

.pets p {
  font-family: "Handlee", "Handlee regular", Arial, Helvetica, sans-serif;
  font-size: 18px;
}

#newpet1 {
  width: 300px;
  height: 300px;
  border-radius: 200px;
}

.btn-custom {
  background-color: #9227c3 !important;
  color: #fff !important;
  opacity: 0.8;
}

.btn-custom:hover {
  background-color: #9227c3;
  color: #fff;
  opacity: 1;
}

/*  Secção about */

.about {
  height: 200vh;
  background-color: #0B9A9C;
}

.about-title {
  text-align: center;
  color: #FFDF00;
  font-family: 'Archivo Black', sans-serif;
}

.about p {
  font-family: "Handlee", "Handlee regular", Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.subtitle {
  text-align: center;
  color: #FFDF00;
  font-family: "Handlee", "Handlee regular", Arial, Helvetica, sans-serif;
}

/* Footer */

footer {
  background-color: #FFDF00
}

footer h6 {
  font-family: "Satisfy", "Satisfy regular", Arial, Helvetica, sans-serif;
  color: #0B9A9C;
  font-size: 23px;
}

@media (max-width: 1200px) {
  img {
    width: 40%;
    height: 40%;
  }
}

@media (max-width: 768px) {
  img {
    width: 50%;
    height: 20%;
  }
}

@media (max-width: 576px) {
  img {
    width: 50%;
    height: 20%;
  }
}