@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

/* Configurações globais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: Helvetica, sans-serif;
}

main {
  background-color: #0B9A9C;
}

/* Configurações de fontes*/
.satisfy-regular {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
}

.handlee-regular {
  font-family: "Handlee", cursive;
  font-weight: 400;
  font-style: normal;
}

/* Configurações da Navbar*/
.navbar-custom {
  background-color: #FFDF00;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.navbar-brand img {
  height: auto;
  width: 7rem;
}

.custom-nav .nav-item {
  margin-right: 2em; /* Ajuste o espaçamento entre os itens do menu */
}

.custom-nav .nav-item:last-child {
  margin-right: 0; /* Remove a margem direita do último item */
}

.nav-item a {
  font-family: "Satisfy", "Satisfy regular", Arial, Helvetica, sans-serif;
  color: #0B9A9C;
  font-size: 23px;
}

/* Secção welcome */
.welcome {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0B9A9C;
  padding: 2rem;
}

.welcome .row {
  display: flex;
  flex-direction: column; /* Organiza o conteúdo verticalmente */
  gap: 2rem; /* Adiciona espaçamento entre as colunas */
}

.welcome .col-md-6 {
  flex: 1; /* Define o tamanho das colunas */
}

.welcome h1 {
  text-align: center;
  color: #FFDF00;
  font-family: 'Archivo Black', sans-serif;
  margin-bottom: 2rem; /* Adiciona espaçamento abaixo do título */
}

.welcome p {
  text-align: justify;
  font-family: "Handlee", "Handlee regular", Arial, Helvetica, sans-serif;
  font-size: 18px;
}

#welcome-img {
  width: 100%;
  height: auto;
}

/* Secção pets */
.pets {
  background-color: #0B9A9C;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  perspective: 1000px;
  background-attachment: fixed;
  padding: 2rem;
}

.pets-title {
  text-align: center;
}

.pets h2 {
  text-align: center;
  color: #FFDF00;
  font-family: 'Archivo Black', sans-serif;
}

.pets h3 {
  color: #ECA634;
  font-family: "Satisfy", "Satisfy regular", Arial, Helvetica, sans-serif;
}

.pets p {
  font-family: "Handlee", "Handlee regular", Arial, Helvetica, sans-serif;
  font-size: 18px;
}

#newpet1 {
  width: 90%; /* Ajusta a largura da imagem dos pets */
  height: auto;
  border-radius: 200px;
}

.btn-custom {
  background-color: #9227c3 !important;
  color: #fff !important;
  opacity: 0.8;
}

.btn-custom:hover {
  background-color: #9227c3;
  color: #fff;
  opacity: 1;
}

/*  Secção about */
.about {
  background-color: #0B9A9C;
  padding: 2rem;
}

.about-title {
  text-align: center;
  color: #FFDF00;
  font-family: 'Archivo Black', sans-serif;
}

.about p {
  font-family: "Handlee", "Handlee regular", Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.subtitle {
  text-align: center;
  color: #FFDF00;
  font-family: "Handlee", "Handlee regular", Arial, Helvetica, sans-serif;
}

/* Footer */
footer {
  background-color: #FFDF00;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer h6 {
  font-family: "Satisfy", "Satisfy regular", Arial, Helvetica, sans-serif;
  color: #0B9A9C;
  font-size: 23px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

/* Contato */
.contact {
  background-color: #0B9A9C;
}

/* Media Queries */
@media (max-width: 768px) {
  .navbar-custom .nav-link {
    font-size: 16px;
  }

  .welcome .row {
    flex-direction: column-reverse; /* Inverte a ordem do texto e da imagem */
  }

  .welcome h1 {
    font-size: 2rem;
  }

  .welcome p {
    font-size: 1rem;
  }

  .pets h2 {
    font-size: 2rem;
  }

  .pets h3 {
    font-size: 1.5rem;
  }

  .pets p {
    font-size: 1rem;
  }

  #newpet1 {
    width: 80%;
  }

  .about h2 {
    font-size: 2rem;
  }

  .about h3 {
    font-size: 1.5rem;
  }

  .about p {
    font-size: 1rem;
  }

  .contact form {
    width: 100%;
  }

  .social-icons {
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .welcome .row {
    flex-direction: row; /* Define a ordem normal do texto e da imagem */
  }

  .navbar-custom .nav-item {
    margin-right: 3em; /* Ajuste o espaçamento entre os itens do menu */
  }

  .custom-nav .nav-item:last-child {
    margin-right: 2em; /* Ajuste o espaçamento entre os itens do menu */
  }

  .social-icons {
    flex-direction: row; /* Define a ordem normal dos ícones */
  }
}